.intro-message {
	text-align: center ;
	padding-top: 60%;
	padding-bottom: 0%;
	color: #000;
}
body {
	background: url(baphomet.jpg) no-repeat;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

h1 {
    text-shadow: 3px 3px #fff;
}

.singup-form { 
	color: #000;
	text-align: center;
}

.email {
	color: #000;
}