.intro-message {
	text-align: center ;
	padding-top: 60%;
	padding-bottom: 0%;
	color: #000;
}
body {
	background: url(baphomet.jpg) no-repeat;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 1%; 
}

h1 {
    text-shadow: 3px 3px rgba(256,256,256,0.9);
}

.singup-form { 
	color: #000;
	text-align: center;
	text-shadow: 3px 3px rgba(256,256,256,0.9);
}

.email {
	color: #000;
}