.intro-message {
	text-align: center;
	padding-top: 60%;
	padding-bottom: 5%;
	color: #000;
}
body {
	background: url(baphomet.jpg) no-repeat;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}
.singup-form { 
	color: #fff;
	text-align: center;
}
.email {
	color: #000;
}